In [1]:
import pandas as pd

In [2]:
import psycopg2

try: 
    conn=psycopg2.connect(
       host='sumar.larioja.gob.ar',
       user='postgres',
       password='sumarLR21',
       database='sumar'
       )
    
    print("conexion exitosa")
    cursor = conn.cursor()
    cursor.execute("SELECT version()")
    row=cursor.fetchone()
    print(row)
    
except Exception as ex:
    print(ex)

conexion exitosa
('PostgreSQL 9.0.1, compiled by Visual C++ build 1500, 32-bit',)

In [3]:
# Crear un cursor para ejecutar consultas SQL
cursor = conn.cursor()

# Consulta SQL para obtener la lista de esquemas
query = "SELECT schema_name FROM information_schema.schemata"

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados
esquemas = cursor.fetchall()

# Imprimir los esquemas
print("Lista de esquemas:")
for esquema in esquemas:
    print(esquema[0])

# Cerrar el cursor y la conexión
cursor.close()

Lista de esquemas:
pg_toast
pg_temp_1
pg_toast_temp_1
pg_catalog
information_schema
alta
calidad
capacitacion
cardiopatia
centro
contabilidad
expediente
facturacion
fichero
general
leche
mensajes
monitoreo
nacer
nomenclador
permisos
personal
planillas
pss
public
puco
sistema
tareas_divisionsoft
trazadoras
uad
laravel

In [4]:
# Crear un cursor para ejecutar consultas SQL
cursor = conn.cursor()

# Esquema específico que deseas consultar
esquema_especifico = "facturacion"

# Consulta SQL para obtener las tablas en un esquema específico
query = f"SELECT table_name FROM information_schema.tables WHERE table_schema = '{esquema_especifico}'"

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados
tablas = cursor.fetchall()

# Imprimir las tablas
print(f"Tablas en el esquema '{esquema_especifico}':")
for tabla in tablas:
    print(tabla[0])

# Cerrar el cursor y la conexión
cursor.close()

Tablas en el esquema 'facturacion':
prueba
validacion_diagnostico_copy
controlnomenclador
efec_nom
nomenclador
lineacuidado
nomenclador1
nomenclador_backup
notadebito
nomenclador2
notificacion
periodo
prestacionesdebito
smiefectores
validacion_prestacion_minimas
validacion_diagnostico
prestacionesceb
credito
debito
servicio
motivo_d
anexo
validacion_prestacion
comprobante
factura
log_comprobante
log_factura
log_prestacion
nomenclador_detalle
nomenclador_old
prestacion
afiliados_baja
ajustarfacturas

In [5]:
# Consulta SQL para obtener los datos de una tabla en un esquema específico
query = """
SELECT          id_factura,
				cuie,
				periodo,
				estado,
				fecha_factura,
				CAST(monto_prefactura AS INTEGER),
				nro_exp,
				fecha_debito,
				CAST(monto_pago AS INTEGER),
				fecha_transferencia
FROM "facturacion"."factura"
WHERE periodo > '2020-01-01'
ORDER BY "periodo" DESC
"""
# Crear un DataFrame a partir de la consulta
df_ingreso = pd.read_sql_query(query, conn)

# Imprimir el DataFrame
print(df_ingreso)

# Cerrar la conexión
cursor.close()
conn.close()

C:\Users\FRANCISCO\AppData\Local\Temp\ipykernel_7472\1883956837.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ingreso = pd.read_sql_query(query, conn)

       id_factura    cuie  periodo estado fecha_factura  monto_prefactura  \
0           35202  L03911  2023/11      C    2024-02-05          236471.0
1           35361  L00011  2023/11      C    2024-02-05           15940.0
2           35330  L03888  2023/11      C    2024-02-05           15540.0
3           35329  L03919  2023/11      C    2024-02-02           43830.0
4           35235  L03939  2023/11      C    2024-02-02           14290.0
...           ...     ...      ...    ...           ...               ...
12810       22357  L00952  2020/01      P    2020-05-12          121475.0
12811       22338  L03938  2020/01      P    2020-05-12           53820.0
12812       22388  L94921  2020/01      X    2020-05-12               NaN
12813       25577  L03899  2020/01      X    2021-04-29               NaN
12814       23768  L04025  2020/01      X    2020-12-26               NaN

                 nro_exp fecha_debito  monto_pago fecha_transferencia
0      E2211035202232024         None           0                None
1      E2211035361232024         None           0                None
2      E2211035330232024         None           0                None
3      E2211035329232024         None           0                None
4      E2211035235232024         None           0                None
...                  ...          ...         ...                 ...
12810  E2201022357202020   2020-05-26      121475                None
12811  E2201022338202020   2020-05-26       53820                None
12812               None         None           0                None
12813               None         None           0                None
12814               None         None           0                None

[12815 rows x 10 columns]

In [6]:
df_ingreso

,id_factura,cuie,periodo,estado,fecha_factura,monto_prefactura,nro_exp,fecha_debito,monto_pago,fecha_transferencia
0,35202,L03911,2023/11,C,2024-02-05,236471.0,E2211035202232024,None,0,None
1,35361,L00011,2023/11,C,2024-02-05,15940.0,E2211035361232024,None,0,None
2,35330,L03888,2023/11,C,2024-02-05,15540.0,E2211035330232024,None,0,None
3,35329,L03919,2023/11,C,2024-02-02,43830.0,E2211035329232024,None,0,None
4,35235,L03939,2023/11,C,2024-02-02,14290.0,E2211035235232024,None,0,None
...,...,...,...,...,...,...,...,...,...,...
12810,22357,L00952,2020/01,P,2020-05-12,121475.0,E2201022357202020,2020-05-26,121475,None
12811,22338,L03938,2020/01,P,2020-05-12,53820.0,E2201022338202020,2020-05-26,53820,None
12812,22388,L94921,2020/01,X,2020-05-12,NaN,None,None,0,None
12813,25577,L03899,2020/01,X,2021-04-29,NaN,None,None,0,None
12814,23768,L04025,2020/01,X,2020-12-26,NaN,None,None,0,None

In [7]:
df_ingreso['monto_prefactura'] = df_ingreso['monto_prefactura'].fillna(0)

In [8]:
df_ingreso['periodo'] = pd.to_datetime(df_ingreso['periodo'])
df_ingreso['fecha_factura'] = pd.to_datetime(df_ingreso['fecha_factura'])
df_ingreso['fecha_debito'] = pd.to_datetime(df_ingreso['fecha_debito'])
df_ingreso['fecha_transferencia'] = pd.to_datetime(df_ingreso['fecha_transferencia'])
df_ingreso['monto_prefactura'] = df_ingreso['monto_prefactura'].astype(int)

C:\Users\FRANCISCO\AppData\Local\Temp\ipykernel_7472\515192289.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_ingreso['periodo'] = pd.to_datetime(df_ingreso['periodo'])

In [9]:
df_ingreso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12815 entries, 0 to 12814
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_factura           12815 non-null  int64
 1   cuie                 12815 non-null  object
 2   periodo              12815 non-null  datetime64[ns]
 3   estado               12815 non-null  object
 4   fecha_factura        12815 non-null  datetime64[ns]
 5   monto_prefactura     12815 non-null  int32
 6   nro_exp              10803 non-null  object
 7   fecha_debito         10402 non-null  datetime64[ns]
 8   monto_pago           12815 non-null  int64
 9   fecha_transferencia  5841 non-null   datetime64[ns]
dtypes: datetime64[ns](4), int32(1), int64(2), object(3)
memory usage: 951.2+ KB

In [10]:
df_ingreso.to_csv('tablas_powerBI/df_ingreso.csv', index=False)